body {
	overflow: hidden;
}

.modal-body.main {
	min-height:378px;
}

label.disabled {
	color:#999;
}

label {
	.on { display:none }
	.off { display:inline-block }
	&.active {
		.on { display:inline-block }
		.off { display:none }
	}
}