build
node_modules
components
cache
docs
deploy/*.html
*.log
*.map
deploy/assets/js/*.js
deploy/assets/css/*.css
deploy/tasks-test.html
deploy/assets/templates/default
deploy/captions.html

deploy/index.html

deploy/new.html

deploy/preview.html

deploy/remote.html

deploy/tasks-terminal.html

deploy/tasks.html
