header {
	.header {
		width:100%;
		position:absolute;
		z-index:0;
		height:40px;
		.disableSelect();
	}
	.logo {
		width:170px;
		height:22px;
		position:absolute;
		left:50%;
		top:10px;
		margin-left:-85px;
		z-index:1;
		.disableSelect();
	}
	button {
		position:absolute;
		z-index:2;
		border:0;
		top:4px;
		right:4px;
		font-size:120%;
		padding:4px 8px;
		background: transparent;
		opacity:0.6;
		color:#fff;
		transition:opacity 0.2s, background 0.2s;
		&:focus, &:hover {
			opacity:1;
			background:rgba(0, 0, 0, 0.5);
		}
		span {
			cursor:pointer;
			color: #fff;
		}
	}
	#refreshButton {
		right:40px;
	}
}