@import 'less/fonts';

body {
	-webkit-user-select:none;
	cursor:default;
	font-family:'OpenSans', sans-serif;
	font-weight: lighter;
}

.modules {
	width:100%;
	border:10px solid #fff;
	border-bottom-width: 0;
	&:last-child {
		border-bottom-width: 10px;
	}
	a, button {
		font-weight:lighter;
	}
}

.project {
	background:#363842;
	padding:10px 0;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	text-align: center;
	margin:0 10px;
	width:auto;
	color:#fff;
	border:0;
	.name:before {
		content:"Project:";
		margin-right:5px;
		color:#999;
	}
	.empty {
		display:none;
		color:#999;
	}
	&.empty {
		.empty {
			display:block;
		}
		.name {
			display:none;
		}
	}
}

header {
	.logo {
		display:block;
		margin:10px auto 0;
		width:100px;
	}
}

input[type="file"] {
	position:absolute;
	top:0;
	left:0;
}

nav {
	.btn {
		width:33.55%;
		text-align:center;
		&:first-child {
			border-bottom-left-radius: 0;
		}
		&:last-child {
			border-bottom-right-radius: 0;
		}
	}
}

.icon {
	margin-right:0.3em;
}

.version {
	text-align: center;
	margin-top: 7px;
	font-size:90%;
	color: #999;
}