@import 'less/fonts';

.modules {
	font-family:'OpenSans', sans-serif;
	font-weight: lighter;
	width:100%;
	border:10px solid #fff;
	border-bottom-width: 0;
	&:last-child {
		border-bottom-width: 10px;
	}
}