@import 'less/fonts';

.moduleHover(@file){
	background:linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.1)
	), url(@file);
	background-repeat:no-repeat;
	background-size:cover;
}

.modules {
	font-family:'OpenSans', sans-serif;
	font-weight: lighter;
	position:absolute;
	width:100%;
	height:100%;
	border:10px solid #fff;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	a {
		&:first-child {
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}
		&:last-child {
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
		}
		color:#fff;
		font-size:140%;
		diplay:block;
		background:#ccc;
		position:absolute;
		left:0;
		width:100%;
		height:percentage(1/3);
		background-repeat:no-repeat;
		background-size:cover;
		border-bottom:2px solid #fff;
		.logo {
			display:block;
			position:absolute;
			top:50%;
			text-align:center;
			width:100%;
			-webkit-transform:translateY(-50%);
			transform:translateY(-50%);
		}
		&#captions {
			top:0;
			background-image:url('../images/captions-banner.svg');
		}
		&#remote {
			top:percentage(1/3);
			background-image:url('../images/remote-banner.svg');
		}
		&#tasks {
			top:percentage(2/3);
			background-image:url('../images/tasks-banner.svg');
			border:0;
		}
		&:hover {
			&#captions {
				.moduleHover('../images/captions-banner.svg');
			}
			&#remote {
				.moduleHover('../images/remote-banner.svg');
			}
			&#tasks {
				.moduleHover('../images/tasks-banner.svg');
			}
		}
	}
}
	