<div class="tasks container-fluid">
	<% for (var i = 0; i < tasks.length; i++ ) { %>
	<div id="task_item_<%=tasks[i].name%>" class="tasks-item row JS-Task-Toggle-Info" title="<%=tasks[i].info%>">
		<div class="tasks-actions btn-group pull-right">
			<button
				class="btn btn-sm btn-default run JS-Task-Run" 
				data-task-name="<%=tasks[i].name%>" 
				title="Run">
				<span class="play glyphicon glyphicon-play"></span>
				<span class="stop glyphicon glyphicon-stop"></span>
			</button>
			<button
				class="btn btn-sm btn-default terminal JS-Task-Terminal" 
				data-task-name="<%=tasks[i].name%>" 
				title="Terminal"><span class="glyphicon glyphicon-align-left"></span>
			</button>
		</div>
		<div class="name"><%=tasks[i].name%></div>
	</div>
	<pre id="console_<%=tasks[i].name%>" class="JS-Console console"></pre>
	<% } %>
</div>