<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>_name_</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" href="assets/css/libraries.css">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <div id="content">
            <div id="container">
                <div id="framerate"></div>
                <canvas id="stage" width="_width_" height="_height_"></canvas>
            </div>
            <script src="assets/js/libraries.js"></script>
            <script src="assets/js/main.js"></script>
        </div>
    </body>
</html>
