$primary: #095B8F;
$secondary: #123550;
$accent: #0C7AC0;
$black: #293F4F;
$white: #fff;
$white-background: #F2F2F2;
$white-background-opacity: rgba(242, 242, 242, 0.5);
$selected: #979797;
$grey: #D8D8D8;
$light-label: rgba(0,0,0,0.54);