doctype html
html
	head
		meta(charset='utf-8')
		title Preview
		include partials/libraries
		include partials/shared
		link(href='assets/css/preview.css', rel='stylesheet')
		script(src='assets/js/preview.js')
	body
		header.fixed
			h1#title
			button#refreshButton.btn.btn-md
				span.glyphicon.glyphicon-refresh
			button#devToolsButton.btn.btn-md
				span.glyphicon.glyphicon-cog
		#previewContainer
			iframe#preview(scrolling='no', frameborder='0')
