block variables
doctype html
html
	head
		meta(charset='utf-8')
		title Preview
		include partials/libraries
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-touch-fullscreen" content="yes")
		
		block head

			link(href='assets/css/shared.css', rel='stylesheet')
			link(href='assets/css/preview.css', rel='stylesheet')
			script(src='assets/js/preview-client.js')
			meta(name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0")
				
	body(class=bodyClass)
		#frame.loading.show-title.show-controls
			block frame
			#pausedScreen
				.container
					h2 Game is Paused.
					button#resumeButton.btn.btn-lg.btn-primary
						span.icon.icon-play
						|  Resume
			#appTitle Loading...
			.controls.text-right
				button#helpButton.btn.btn-primary.main.disabled(data-placement='bottom', data-toggle='tooltip', title='Play Help')
					span.icon.icon-help
				button#soundButton.btn.btn-primary.main.muted.disabled(data-placement='bottom', data-toggle='tooltip', title='Toggle All Sounds')
					span.icon.icon-sound.on
					span.icon.icon-sound-off.off
				button#soundToggle.btn.btn-primary.main.drop-handle.disabled(data-toggle-div='#soundContexts')
					span.arrow-down
				form#soundContexts.drop-down.form.form-horizontal
					.form-group.form-title
						button.close(data-toggle-div='#soundContexts')
							| &times;
						| Audio Settings
					.form-group: .col-xs-12
						button#sfxButton.btn.btn-primary.btn-block.muted.disabled
							span.icon.icon-sfx.on
							span.icon.icon-sfx-off.off
							span.label.on Sound FX On
							span.label.off Sound FX Off
						button#musicButton.btn.btn-primary.btn-block.muted.disabled
							span.icon.icon-music.on
							span.icon.icon-music-off.off
							span.label.on Music On
							span.label.off Music Off
						button#voButton.btn.btn-primary.btn-block.muted.disabled
							span.icon.icon-vo.on
							span.icon.icon-vo-off.off
							span.label.on Voice-Over On
							span.label.off Voice-Over Off						
				button#captionsButton.btn.btn-primary.main.muted.disabled(data-placement='bottom', data-toggle='tooltip', title='Toggle Captions')
					span.icon.icon-captions.on
					span.icon.icon-captions-off.off
				button#captionsToggle.btn.btn-primary.main.drop-handle.disabled(data-toggle-div='#captionsStyles')
					span.arrow-down
				form#captionsStyles.drop-down.form.form-horizontal
					.form-group.form-title
						button.close(data-toggle-div='#captionsStyles')
							| &times;
						| Captions Style
					.form-group
						label.col-xs-4.control-label Align
						.col-xs-8: select.pause-on-focus.form-control(name='align')
							option(value='top', selected='') Top
							option(value='bottom') Bottom
					.form-group
						label.col-xs-4.control-label Text Color
						.col-xs-8: select.pause-on-focus.form-control(name='color')
							option(value='white', selected='') White
							option(value='white-semi') White (50%)
							option(value='black') Black
							option(value='black-semi') Black (50%)
							option(value='yellow') Yellow
							option(value='yellow-semi') Yellow (50%)
							option(value='pink') Pink
							option(value='pink-semi') Pink (50%)
							option(value='blue') Blue
							option(value='blue-semi') Blue (50%)
					.form-group
						label.col-xs-4.control-label Background Color
						.col-xs-8: select.pause-on-focus.form-control(name='background')
							option(value='none') [None]
							option(value='white') White
							option(value='white-semi') White (50%)
							option(value='black') Black
							option(value='black-semi', selected='') Black (50%)
							option(value='yellow') Yellow
							option(value='yellow-semi') Yellow (50%)
							option(value='pink') Pink
							option(value='pink-semi') Pink (50%)
							option(value='blue') Blue
							option(value='blue-semi') Blue (50%)
					.form-group
						label.col-xs-4.control-label Edge Style
						.col-xs-8: select.pause-on-focus.form-control(name='edge')
							option(value='none', selected='') [None]
							option(value='raise') Beveled Up
							option(value='depress') Beveled Down
							option(value='uniform') Stroke
							option(value='drop') Drop Shadow
					.form-group
						label.col-xs-4.control-label Size
						.col-xs-8: select.pause-on-focus.form-control(name='size')
							option(value='xs') Extra Small
							option(value='sm') Small
							option(value='md', selected='') Medium
							option(value='lg') Large
							option(value='xl') Extra Large
					.form-group
						label.col-xs-4.control-label Font
						.col-xs-8: select.pause-on-focus.form-control(name='font')
							option(value='arial', selected='') Arial
							option(value='arial-black') Arial Black
							option(value='comic-sans') Comic Sans MS
							option(value='courier') Courier New
							option(value='georgia') Georgia
							option(value='impact') Impact
							option(value='console') Lucida Console
							option(value='lucida') Lucida Grande
							option(value='palatino') Palatino Linotype
							option(value='tahoma') Tahoma
							option(value='times') Times New Roman
							option(value='trebuchet') Trebuchet MS
							option(value='verdana') Verdana						
				button#settingsButton.btn.btn-primary.main.disabled(data-toggle-div='#settings', data-placement='bottom', data-toggle='tooltip', title='Logging Service')
					span.icon.icon-gear
				form#settings.drop-down.form.form-horizontal
					.form-group.form-title
						button#cancelSettings.close(data-toggle-div='#settings')
							| &times;
						| Logging Service
					.form-group
						label.col-xs-4.control-label Host or IP
						.col-xs-8: input.pause-on-focus.form-control#remoteHost(type='text', name='remoteHost')
					.form-group
						label.col-xs-4.control-label Channel Name
						.col-xs-8: input.pause-on-focus.form-control#remoteChannel(type='text', name='remoteChannel')
					.form-group.text-center
						.col-xs-8.col-xs-offset-4
							button#remoteConnect.btn.btn-primary.btn-block.disabled(data-toggle-div='#settings')
								| Connect
				button#pauseButton.btn.btn-primary.main.unpaused.disabled(data-placement='bottom', data-toggle='tooltip', title='Play/Pause')
					span.icon.icon-pause.on
					span.icon.icon-play.off

				block controls

			.appWrapper
				iframe#appContainer(frameborder='0', scrolling='no')