doctype html
html
	head
		meta(charset='utf-8')
		title Tasks
		include partials/libraries
		include partials/shared
		link(href='assets/css/tasks.css', rel='stylesheet')
		script(src='assets/js/tasks.js')
	body
		header.fixed
			h1 Tasks
		#tasks
		.status
			.state.spinner.loading Waiting for tasks, hold on.
			.state.spinner.installing
				| Installing plugins.
				br
				| This may take a few minutes.
			.state.failed
				span.glyphicon.glyphicon-exclamation-sign
				span#failedMessage
				br
				button#refreshTasks.btn.btn-danger Retry
