doctype html
html
	head
		meta(charset='utf-8')
		title Terminal Output
		link(href='assets/css/libraries.css', rel='stylesheet')
		link(href='assets/css/shared.css', rel='stylesheet')
		link(href='assets/css/tasks.css', rel='stylesheet')
	body.tasks-terminal
		header.fixed
			h1#title
		pre#terminal
